server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: client-route
              uri: lb://MY-CLIENT      
              predicates:
                - Path=/client/**
              filters:
                - StripPrefix=1